@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Inria Sans", sans-serif;
  transition: 0.7s;
  /* overflow-x: hidden; */
}

body {
  background-color: #f6f6f6;
}
nav {
  background-color: white;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: larger;
  font-weight: 700;
  font-style: normal;
}

.btnarea {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.login,
.signup {
  margin: 0 5px;
  height: 40px;
  width: 120px;
  border: none;
  background-color: #ff8593;
  font-weight: 700;
  font-style: normal;
  color: white;
  cursor: pointer;
}
.actionname {
  position: absolute;
  left: 50%;
  top: calc(60px + 5%);
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-style: normal;
}
.cardarea {
  position: absolute;
  width: 100vw;
  height: 75vh;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-card-one {
  background-color: white;
  height: 250px;
  width: 45%;
  margin: 10px;
}
.service-card-two {
  background-color: white;
  height: 250px;
  width: 22%;
  margin: 10px;
}
.sco-topic {
  /* position: absolute; */
  /* top: 50%; */
  position: relative;
  top: 30%;
  left: 10%;
  transform: translate(0%, -50%);
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
}
.sco-desc {
  position: relative;
  top: 70%;
  left: 28.5%;
  height: 150px;
  width: 250px;
  transform: translate(-50%, -50%);
  color: #000000a8;
  font-weight: 700;
  font-style: normal;
}
.serviceroute1 {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -10%;
  left: calc(100% - 20%);
}
.sct-topic {
  position: relative;
  top: 15%;
  left: 20%;
  transform: translate(0%, -50%);
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
}
.sct-desc {
  position: relative;
  top: 60%;
  left: 51%;
  height: 150px;
  width: 200px;
  transform: translate(-50%, -50%);
  color: #000000a8;
  font-weight: 700;
  font-style: normal;
}
.serviceroute2 {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -10%;
  left: calc(100% - 30%);
}
.row{
    width: 100vw;
    display: flex;
  justify-content: center;
  align-items: center;
}
